.env
venv
.venv
temp
directory
__pycache__/
.vscode
.env
*.pyc
.vercel
node_modules/
.DS_Store
data
data_crop
app/static/uploads/*
todo
app/json_data/session/*
videos/
*.mp4
assets/models/run4_minimap
