{% extends "base.html" %}

{% block title %}Sign In - Playgenix{% endblock %}

{% block content %}
    <!-- Login Section -->
    <section class="hero">
        <div id="particles-js"></div>
        <div class="container">
            <div class="hero-content centered">
                <div class="hero-text centered">
                    <h1>Sign In to <span>Playgenix</span></h1>
                    <p>
                        Access your personalized game analysis and insights.<br>Sign in with your Google account to continue.
                    </p>
                    
                    <form action="/login" method="POST">
                        <button type="submit" class="btn" style="background-color: white; color:black;">
                            <img src="/static/images/google_icon.svg" alt="Google Icon" style="vertical-align: middle; margin: -2px 8px 0 0;" width="22px" height="22px">
                            Continue with Google
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_scripts %}
    <script>
    </script>
{% endblock %}
